header{
	color: white;
}

.contain{

	background-color: #367F85;

}

.images{
	width: 300px;
	height: 1376px;
	background-color: #A1D1B8;
	float: left;
	margin-top: 70px;
}

.images-cont{
	width: 980px; 
	height: 1450px;
	background-color: #D5EBE0;
	float: left;
}



.images .imgs-cont img{
	
	opacity: 0.5;
	cursor: pointer;
	width: 200px;
	height: 100px;


}
.images .imgs-cont{
	margin: 20px;
	width: 200px;
	height: 100px;
	border: none;

}


 .imgs-cont{
	width:400px;
	height:178px;
	background-color: rgba(255,255,255,0.2);
	float: left;
}



.ig-cont:nth-child(2n+1){

	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
	margin-left: 100px;

}
.ig-cont:nth-child(2n+2) {

	
	border-right: 1px solid grey;
	border-top: 1px solid grey;

}

.ig-cont:nth-last-child(-n+2){
	border-bottom: 1px solid grey;

}
.ig-cont .imgdrop{
	width: 100%;
	height: 100%;
}
[ng-drag].dragging{
	width: 200px;
	height: 100px;
}

.ig-cont{
	width: 400px;
	height: 178px;
	margin-top: 0px;
	
	float: left;
}
.ig-cont:nth-child(-n+2){
margin-top: 100px;
}
[ng-drop].drag-enter{
       border: 1px solid grey;
}